#header {
    height: 60px;
    /* width: 100%; */
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.my-container {
    margin-left: 20%;
    margin-right: 20%;
}

@media (max-width: 1000px) {
    .my-container {
        margin: auto;
    }
}

#main {
    margin-top: 65px;
    transition: all 2s;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}

.mysection {
    padding: 10px;
}

@media only screen and (max-width: 992px) {
    #main {
        margin-top: 80px;
        margin-left: 0px;
        margin-right: 0px;

    }
}

.mycarousel {
    width: 100%;
}

.pagetitle {
    font-size: 5px !important;
}

.nav-link.active,
.nav-link:hover {
    background-color: #f0f0f0;
    color: red;
}
.card:hover{
    background-color: green;
}